body{
margin:0;
background-image:url("Background.jpg");
background-size:cover;
background-position:center;
height:100vh;
font-family:Arial;
}

.container{
height:100vh;
}

.login-box{
width:350px;
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 0 20px rgba(0,0,0,0.15);
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

h1{
text-align:center;
color:#c8a2c8;
}

h2{
text-align:center;
}

input{
width:100%;
padding:12px;
margin-bottom:15px;
border:1px solid #ddd;
border-radius:8px;
box-sizing:border-box;
}

button{
width:100%;
padding:12px;
background:#c8a2c8;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#b48fb4;
}

p{
text-align:center;
}

a{
color:#c8a2c8;
text-decoration:none;
}